.control {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.controlLabel {
  flex: 1;
  margin: -6px 0 -6px 8px;
  font-size: 16px;
}

.progress {
  width: 200px;
  max-width: 20%;
  transition: opacity 0.3s ease-in;
}
.progress.complete {
  opacity: 0;
}
